.portfolio{
    display: flex;
    flex-direction: column;
    padding: 0 4rem;
  }
  
  .portfolioItem{
    display: flex;
    flex-direction: column;
    margin: 0 auto;
  }

  .portfolio:not(:last-child) .portfolioItem{
    margin-bottom: 8rem;
  }
  
  .portfolioItemTitle {
    color: white;
    letter-spacing: .2rem;
    text-transform: uppercase;
    font-size: 2rem;
    font-weight: 600;
    transition: all .2s;
    position: relative;
    margin: 0 auto;
    margin-bottom: 7rem;
  }

  .portfolioItemTitle::after{
    content:'';
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    width: 100%;
    height: 100%;
    transform: rotate(-2deg);
    background: linear-gradient(to right, rgb(242, 112, 156), rgb(255, 148, 114));
  }


  .portfolioItemTitle:hover {   
    transform: skew(5deg,5deg);  
  }
  
  .portfolioItemContent{
    display: flex;
  }
  
  .portfolio:nth-child(odd) .portfolioItemContent{
    flex-direction: row-reverse;
  }
  
  .portfolioItemText {
    display: flex;
    flex-direction: column;
    text-align: start;
    margin: 0 2rem;
    flex: 1 1 50%;
    
  }
  .portfolioItemDescription{
    margin: 0 0 1rem;
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 1.7;
  }
  
  .portfolioItemTech{
    margin-bottom: 4rem;
    font-size: 1.1rem;
    font-weight: 700;
    color:#333;
    text-transform: uppercase;
  }
  
  .portfolioItemImageContainer {
    margin: 0 2rem;
    flex: 1 1 50%;
  }
  
  .portfolioItemImage{
    width: 100%;
    height: auto;
    box-shadow: 0 .5rem .7rem rgba(0, 0, 0, 0.4);
    transition: all .3s;  
  }

  .portfolioItemImage:hover{
    transform: scale(1.02);
  }
  
  .btnContainer{
    display: flex;
  }
  
  .btn {
    font-weight:400;
    font-size: 1.2rem;
    padding: 1.2rem 2.8rem;
    border-radius: 2rem;
    border:1px solid #575757;
    text-decoration: none;
    color:black;
    box-shadow: 0 0.3rem .6rem rgba(0, 0, 0, 0.3);
    align-items: center;
    transition: all .3s;
  }
  
  .btn:first-child{
    margin-right: 3rem;
    color: white;
    border: none;
    background: linear-gradient(to right, rgb(242, 112, 156), rgb(255, 148, 114));
  }
  
  .btn:hover{
    transform: translateY(-.36rem);
  }
  
  .btn:active{
    transform: translateX(0);
    box-shadow: 0 0.1rem 0.5rem rgba(0, 0, 0, 0.1);
  }


  @media (max-width:900px){

    .portfolioItem{
      margin-bottom: 8rem;
    }

    .portfolioItemTitle{
      margin-bottom: 4rem;
    }

    .portfolioItemText{
      margin-top: 2rem;
      justify-content: center;
      text-align: center;
    }

    .portfolioItemTech{
      margin-bottom: 2rem;
    }

    .btnContainer{
      justify-content: center;
    }

    .portfolioItemContent{
      flex-direction: column-reverse;
    }
    .portfolio:nth-child(odd) .portfolioItemContent{
      flex-direction: column-reverse;
    }
  }

@media (max-width:320px){

  .portfolio{
    
    padding: 0;
  }}
  
  
  
  
  
  
  
  