.primary-heading{ font-size: 3.2rem;
    background: linear-gradient(to right, rgb(242, 112, 156), rgb(255, 148, 114));
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    letter-spacing: .7rem;
    text-transform: uppercase;
    padding: 2rem ;
    margin-top: 6rem;
}

.secondary-heading{font-size: 2rem;
font-weight: 500;}


@media (max-width:480px){
    .primary-heading{ 
        font-size: 2.5rem;
        margin-top: 2rem;
    }
    .secondary-heading{font-size: 1.5rem;}
        
  }
